[flake8]
ignore =
    # whitespace before ':' (Black)
    E203,
    # line break before binary operator (Black)
    W503,

per-file-ignores =
    # Files and directories which need fixes or specific exceptions.
    #
    # Description of codes:
    # E401    multiple imports on one line
    # E402    module level import not at top of file
    # E501    line too long
    #
    ctypesgen/__init__.py: F401
    ctypesgen/parser/cgrammar.py: E501, E402

max-line-length = 100

exclude =
    ctypesgen/parser/parsetab.py,
    ctypesgen/parser/lextab.py,
	ctypesgen/parser/yacc.py,
	ctypesgen/parser/lex.py,
    demo/pydemolib.py,
    .git,
    __pycache__,
    debian

builtins =
    _,
