---
name: Python Flake8 Code Quality

on:
  - push
  - pull_request
  - fork

jobs:
  flake8:
    name: ${{ matrix.directory }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.8

      - name: Install
        run: |
          python -m pip install --upgrade pip
          pip install flake8==3.8.4

      - name: Run Flake8
        run: |
          flake8 --count --statistics --show-source --jobs=$(nproc) .
